<div *ngIf="formName" [formGroup]="formName" class="form-group">
  <div class="input">
    <label for="{{inputId}}">{{inputLabel}}</label>
    <input formControlName="{{controlName}}" id="{{inputId}}" type="{{inputType}}">
  </div>
  <ng-container *ngFor="let controlValidator of controlValidators">
    <small *ngIf="formName.get(controlName).touched && formName.get(controlName).hasError(controlValidator.hasError)"
           class="form-text text-muted">
      {{controlValidator.value}}
    </small>
  </ng-container>
</div>
